
.card {
    background-color: rgb(253, 153, 2);
    margin-top: 20px;
}
.bem-vindo{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 2%;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
}
.card-title{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto Slab', serif;
}
a{
    text-decoration: none;
}
.footer{
    background-color: rgb(253, 153, 2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 400px;
}
.list-group-item{
    background-color: rgb(253, 153, 2);
    border-color: black;
}
.submit-detalhes{
    min-width: 48%;
    display: inline-block;
    min-height: 70px;
}
.scroll::-webkit-scrollbar { 
	display: none;
}