.card {
    margin-top: 10%;
    background-color: rgb(253, 153, 2);
    height: 600px;
}
.card-adicionar:hover{
    background-color: rgb(110, 109, 13);
}
.card-text{
    overflow: scroll;
}
.card-text::-webkit-scrollbar { 
	display: none;
}
.bem-vindo{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 2%;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
}
.icons-adm {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.links-Cards {
    text-decoration: none;
}
a{
    text-decoration: none;
}
.aAdicionar{
    color: black;
}
.aAdicionar:hover{
    cursor: pointer;
}
.modal-content{
    background-color: gray;
}