.background-image {
    background-image:url('../../assets/img/BackgroudImagemCanva.png'); 
    height: 100%; 
    background-position: center; 
    background-attachment: fixed; 
}
.container{
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {     
    min-width: 30vw;
    min-height: 55vh;

}
.input-group {
    margin-top: 6%;
    justify-content: center;
}
.buttonEntrar {
    margin: 3%;
}
.input-login {
    background-color:rgb(187, 202, 218);
}
.input-group-text{
    background-color:rgb(187, 202, 218);
}
