.card {
    margin-top: 10%;
    background-color: rgb(253, 153, 2);
}
.bem-vindo{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 2%;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
}
.icons-adm {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.links-Cards {
    text-decoration: none;
}