<div style="background-color: rgb(253, 153, 2);">
    <div style="text-align: center; ">
        <img src="../../assets/img/vascoLogo.jpg" alt=""
            style="height: 100px; width: 100px; margin: 20px; border-radius: 50%;">
    </div>
</div>
<nav class="navbar navbar-expand-lg " style="background-color: rgb(253, 153, 2);">
    <div class="container-fluid" style="display: block; ">
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: space-around;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" class="btn btn-dark">Produtos</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Totem</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1 class="bem-vindo card-title">Produtos</h1>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card" style="width: 100%; min-height: 70%;">
                <img src="../../assets/img/Monumental.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Monumental</h1>
                    <p class="card-text">Bled de 140g, 3 fatias de American cheese, cebola caramelizada e molho especial
                        em um brioche macio. Experimente e descubra
                        porque é verdadeiramente monomental.
                    </p>
                </div>
                <div class="card-footer">
                    <h1>R$34,90</h1>
                    <a href="#" class="btn btn-dark">Editar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card" style="width: 100%; min-height: 70%;">
                <img src="../../assets/img/Vascudo.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Vascudo</h1>
                    <p class="card-text">Blend suculento de 100g, 2 fatias de American cheese derretido e um mix de
                        ketchup,
                        mostarda e picles. Cada mordida é uma experiência única, assim como cada vitória desse grande
                        time.
                        Sinta o sabor Vascudo em cada mordida e torça junto com o Gigante da Colina!
                    </p>
                </div>
                <div class="card-footer">
                    <h1>R$28,90</h1>
                    <a href="#" class="btn btn-dark">Editar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card" style="width: 100%; min-height: 70%;">
                <img src="../../assets/img/VASCO_DA_GRANJA.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">VASCO DA GRANJA</h1>
                    <p class="card-text">Frango Crocante, Maionese especial, alface americana e lâminas superfinas de
                        tomate
                    </p>
                </div>
                <div class="card-footer">
                    <h1>R$27,90</h1>
                    <a href="#" class="btn btn-dark">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="bem-vindo card-title">Ofertas</h1>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card" style="width: 100%; min-height: 70%;">
                <img src="../../assets/img/Oferta_Vasco.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">OFERTA VASCO</h1>
                    <p class="card-text">Burguer + Fritas Grande + Bebida.
                    </p>
                </div>
                <div class="card-footer text-body-secondary">
                    <h1>R$40,80</h1>
                    <a href="#" class="btn btn-dark">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>